html {
  font-size: 14px;
}

body {
  background: $dark-blue;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: $m-size;
    color: $off-white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.link-active{
  font-weight: bold;
}

.carousel .carousel-control { visibility: hidden; }
